.list{
  height: 40%
}

#image{
  display: inline-block;
  position: absolute;
  padding-top: 5px
}

#nom{
  display: inline-block;
  margin-left: 80px;
  width: 65%;
  color: azure
}


.cardDescript:hover{
  background-color: gainsboro;
  word-break: break-word;
}

img {
  width: 65px;
  height: 75px;
}
.cardLineDescript{
  word-break: break-word;
}
.cardList{
  height: 40%
}
.imgIcoCard{
  display: inline-block;position: absolute;padding-top: 5px
}
