<div style="">
  <mat-list style=""  *ngFor="let card of cardsList[0]">
    <mat-list-item class="cardLineDescript" style="" (mouseenter)="affImg(card?.id)" >
      <div>
        <img class="imgIcoCard" mat-card-md-image style="" src="https://storage.googleapis.com/ygoprodeck.com/pics_small/{{card?.id}}.jpg"/>
        <h4 mat-line style="display: inline-block;margin-left: 80px;width: 65%;color: azure">{{card?.name}}</h4>
        <p mat-line></p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

