<div style="">
  <mat-list style="height: 40%"  *ngFor="let carte of cartesList[0]">
    <mat-list-item class="cardDescript" style="word-break: break-word;" (mouseenter)="affImg(carte.id)" >
      <div>
        <img mat-card-md-image style="display: inline-block;position: absolute;padding-top: 5px" src="https://storage.googleapis.com/ygoprodeck.com/pics_small/{{carte.id}}.jpg"/>
        <h4 mat-line style="display: inline-block;margin-left: 80px;width: 65%;color: azure">{{carte.name}}</h4>
        <p mat-line></p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

