<div class="mui-container" cdkDropListGroup>
  <mat-grid-list cols="16" rowHeight="75px" gutterSize="5">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.border]="color_seleccionado=='red' ? '5px solid black' :'1px solid white'"
      [style.border-radius]="'5px'"
      [style.text-align]="'left'"
    >
      <div>
        <mat-grid-tile-header>{{tile.text}}</mat-grid-tile-header>
      </div>

        <app-filters *ngIf='tile.text == "Filter"'></app-filters>
        <app-deck *ngIf='tile.text == "Deck"'
                  (sortieDeck)="selection($event)"
                  (mainDeckChange)="mainDeckChange($event)"
                  (extraDeckChange)="extraDeckChange($event)"
                  (sideDeckChange)="sideDeckChange($event)"></app-deck>
        <app-deck-list *ngIf='tile.text == "Liste Deck"'
                       [maindeckSelect]="modelMainDeckChange"
                       [sidedeckSelect]="modelSideDeckChange"
                       [extradeckSelect]="modelExtraDeckChange"></app-deck-list>
        <app-extra-deck *ngIf='tile.text == "Extra-Deck"'></app-extra-deck>
        <app-side-deck *ngIf='tile.text == "Side-Deck"'></app-side-deck>
        <app-card-info class = "app-card-info" *ngIf='tile.text == "Description"' [c]="idModelCard"></app-card-info>

        <app-card class = "app-card" *ngIf='tile.text == "Carte"' [c]="idModelCard"></app-card>
      <div class="card-list">
        <app-card-list *ngIf='tile.text == "Resultat"' (sortie)="selection($event)"></app-card-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
