<div class="mui-container">
  <mat-grid-list cols="16" rowHeight="75px" gutterSize="5">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.border]="color_seleccionado=='red' ? '5px solid black' :'1px solid white'"
      [style.border-radius]="'5px'"
      [style.text-align]="'left'"
    >
      <div>
        <mat-grid-tile-header style=" ">{{tile.text}}</mat-grid-tile-header>
      </div>

        <app-filters *ngIf='tile.text == "Filter"'></app-filters>
        <app-deck *ngIf='tile.text == "Deck"'></app-deck>
        <app-deck-list *ngIf='tile.text == "Liste Deck"'></app-deck-list>
        <app-extra-deck *ngIf='tile.text == "Extra-Deck"'></app-extra-deck>
        <app-side-deck *ngIf='tile.text == "Side-Deck"'></app-side-deck>
        <app-card-info *ngIf='tile.text == "Description"'></app-card-info>
        <app-card *ngIf='tile.text == "Carte"'></app-card>
      <div  style="width: 100%;height: 100%;margin-top: 110px;overflow-y: auto;">
        <app-card-list *ngIf='tile.text == "Resultat"' style=""></app-card-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
