<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" routerLink="home">Menu</mat-toolbar>
    <mat-nav-list>
      <a class = "navbar" mat-list-item href="#" routerLink="">Jouer</a>
      <a class = "navbar" mat-list-item href="#" routerLink="deckManage">Deck</a>
      <a class = "navbar" mat-list-item href="#" routerLink="profile">Profil</a>
      <a class = "navbar" mat-list-item href="#" routerLink="">Paramètres</a>
      <a class = "navbar" mat-list-item href="#" routerLink="">Deconnexion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>YuLine</span>
    </mat-toolbar>
     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
